body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background: rgb(2,0,36);
    /* background: linear-gradient(-255deg, 
    rgba(2,0,36,0.9652193641128326) 0%,
    rgba(106, 9, 121, 0.996) 35%,
    rgba(0,212,255,1) 100%); */
}

a:visited{
    text-decoration: line-through;
    color: orange;
}

